#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container{
  width: 500px;
  min-height: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: 'Castoro', serif;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.formAut{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signin {
  color:#FFFFFF;
  cursor: pointer;
  border: none;
  margin:0.4em auto;
  outline: none;
  padding:0.6em 1.5em;
  box-sizing: border-box;
  font-weight:400;
  font-family: 'Castoro', serif;
  background-color:#3369ff;
}
.signin:hover{
  background-color:#5e89fd;
}

.signin:active{
  background-color:#284fb9;
}

